.container {
    position: relative;
}

.input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 40px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #4B4A54;
    color: #E2E2E2;
    outline: none;
    width: 320px;
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
    display: none;
}

.buttonClear {
    width: 20px;
    height: 20px;
    padding: 0;
    display: block;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-10px);
    right: 10px;
    background-color: transparent;
    cursor: pointer;
}

.buttonClear:hover {
    opacity: 0.5;
}

.buttonClear:active {
    opacity: 0.5;
    transform: translateY(-9px);
}